<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Decoradores de interiores</title>
    <script src="js/main.js" defer></script>
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#about-us">Sobre Nosotros</a></li>
                    <li><a href="#our-work">Nuestro trabajo</a></li>
                    <li><a href="#clients">Nuestros clientes</a></li>
                    <li><a href="#contact-us">Contactanos</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <img src="img/white-bricks.jpg" alt="white brickwall" class="background-hero">
        <div class="container container-hero">
            <h1 class="title title-1"><b>Trabajos.</b> <br> <b>De gran calidad.</b></h1>
            <div class="decoration-hero">
                <img src="img/escritorio.jpg" alt="modern desk" class="desk image-decoration">
            </div>
        </div>
    </section>

    <section class="articles">
        <div class="container">
            <article id="about-us">
                <img class="decoration-image-about-us" src="img/desk.jpg" alt="desk with plants">
                <div class="description-about-us">
                    <h2 class="title title-2">Sobre nosotros</h2>
                    <p class="text text-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In quas nobis quidem minus laboriosam
                        voluptatibus illo dolorem odio omnis quibusdam ad non, corrupti vel hic, cumque minima impedit
                        maiores nemo accusantium enim maxime ullam temporibus ex. Facilis, enim vero quam consequuntur
                        atque nulla quia.
                    </p>
                </div>
            </article>

            <hr>

            <article id="our-work">
                <h3 class="title title-3">Nuestro trabajo</h3>
                <div class="card-work">
                    <img src="img/setup gamer.jpg" alt="" class="image-card">
                    <div class="description-card">
                        <p class="text title-card">Setup gamer</p>
                        <hr>
                        <p class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quidem saepe quae cumque
                            quasi eius laudantium consequuntur ratione eum! Ab suscipit ducimus cumque? Voluptatem eos
                            quo aut eveniet nostrum rerum.
                        </p>
                    </div>
                </div>
                <div class="card-work">
                    <img src="img/work-space.jpg" alt="" class="image-card">
                    <div class="description-card">
                        <p class="text title-card">Workspace</p>
                        <hr>
                        <p class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quidem saepe quae cumque
                            quasi eius laudantium consequuntur ratione eum! Ab suscipit ducimus cumque? Voluptatem eos
                            quo aut eveniet nostrum rerum.
                        </p>
                    </div>
                </div>
                <div class="card-work">
                    <img src="img/home-office.jpg" alt="" class="image-card">
                    <div class="description-card">
                        <p class="text title-card">Home office</p>
                        <hr>
                        <p class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quidem saepe quae cumque
                            quasi eius laudantium consequuntur ratione eum! Ab suscipit ducimus cumque? Voluptatem eos
                            quo aut eveniet nostrum rerum.
                        </p>
                    </div>
                </div>
            </article>

            <hr>

            <article id="clients">
                <h4 class="title title-4">Nuestros clientes</h4>
                <div class="items-clients">
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia asperiores, porro
                        natus amet inventore cupiditate odit laudantium quam, perferendis reiciendis laborum voluptates.
                        Ducimus, deleniti a. Quisquam minima enim perspiciatis doloribus?
                    </p>
                    <div class="item-img">
                        <div class="cover">
                            <p class="text decoration-text">Estupendo minimalismo</p>
                        </div>
                        <img src="img/desk.jpg" alt="minimal desk" class="reference-images">
                    </div>
                    <div class="item-img">
                        <div class="cover">
                            <p class="text decoration-text">Gran estilización</p>
                        </div>
                        <img src="img/escritorio.jpg" alt="desk" class="reference-images">
                    </div>
                    <div class="item-img">
                        <div class="cover">
                            <p class="text decoration-text">Espacios modernos</p>
                        </div>
                        <img src="img/setup gamer.jpg" alt="setup gamer" class="reference-images">
                    </div>
                    <div class="item-img">
                        <div class="cover">
                            <p class="text decoration-text">Espacios confortables</p>
                        </div>
                        <img src="img/work-space.jpg" alt="setup gamer" class="reference-images">
                    </div>
                </div>
            </article>

            <article id="contact-us">
                <h5 class="title title-5">Contactanos</h5>
                <form action="">
                    <input type="email" placeholder="Correo electronico" class="item-form-contact">
                    <input type="text" placeholder="Nombre" class="item-form-contact">
                    <input type="text" placeholder="Asunto" class="item-form-contact">
                    <textarea class="item-textarea" name="none"></textarea>
                    <button type="submit" class="btn-submit">Enviar</button>
                </form>
            </article>

        </div>
    </section>

    <footer class="footer">
        <div class="container contain-footer">
            <p>Gracias por visitarnos</p>
            <p>Siguenos en nuestras redes sociales</p>
        </div>
        <div class="cf2">
            <div class="contain-footer container">
                <p>¡Vuelvan pronto! 😀</p>
                <div class="links-footer">
                    <a href="#">Facebook</a>
                    <a href="#">Instagram</a>
                    <a href="#">Twitter</a>
                    <a href="#">YouTube</a>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>